footer {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 25px;
  padding-bottom: 180px;
  border-top: solid 2px #bd60fb;
  box-shadow: -10px 10px 20px #29c1ee, -20px 20px 40px #bd60fb;
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(3, 3, 10) 73.318%);
  z-index: 1;
  .footer-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .logo {
      display: flex;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        text-transform: uppercase;
        background: linear-gradient(134.13deg, rgb(48, 187, 238), #bd60fb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .social {
      display: flex;
      gap: 12px;

      img {
        width: 32px;
        height: 32px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      cursor: pointer;
      color: #505050;
      font-size: 18px;
      font-weight: 400;

      &:first-of-type {
        color: #ffffff;
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        margin-bottom: 10px;
      }

      &:hover {
        transition: color 0.3s ease-in-out;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  footer {
    width: 100vw;
    padding: 50px;
    flex-direction: row;
    justify-content: space-around;
  }
}
