.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 100px 100px;
  gap: 10px;
}

.about__stars-container {
  position: absolute;
  width: 100%;
}

.about__content {
  width: 100%;
  position: relative;
  right: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.about__title {
  background: linear-gradient(134.13deg, rgb(32, 199, 237), rgb(210, 81, 253));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 58px;
  line-height: 92px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.about__cards {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 100px;
}

.about__card-container {
  position: relative;
}

.about__card-1,
.about__card-2,
.about__card-3 {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 550px;
  gap: 40px;
  position: relative;
  background-color: #12111c;
  padding: 25px;
  border-radius: 25px;
  border: solid 2px #d251fdff;
  overflow: hidden;
}

.about__card-1 {
  position: relative;
}

.about__card-2 {
  position: relative;
  right: -170px;
}

.about__card-3 {
  position: relative;
  right: 130px;
}

.about__earth,
.about__rocket,
.about__character,
.about__spaceship,
.about__character2 {
  position: absolute;
  opacity: 0.5;
}

.about__earth {
  right: -100px;
  bottom: -120px;
  width: 300px;
  height: 300px;
  filter: blur(2.61px);
}

.about__rocket {
  left: 80px;
  bottom: -50px;
  width: 230px;
  height: 230px;
}

.about__character {
  right: -50px;
  bottom: -50px;
  width: 300px;
  height: 300px;
}

.about__spaceship {
  left: 25px;
  bottom: -100px;
  width: 400px;
  height: 400px;
}

.about__character2 {
  right: -15px;
  bottom: -100px;
  width: 400px;
  height: 400px;
}

.about__card-line-1 {
  position: absolute;
  left: -275px;
  top: 200px;
  width: 100%;
  height: 400px;
}

.about__card-line-2 {
  position: absolute;
  left: 360px;
  top: 250px;
  width: 100%;
  height: 400px;
}

.about__text-card-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #6c95f4;
  font-size: 20px;
  text-transform: uppercase;
}

.about__text-card-2 {
  font-family: 'Clash Grotesk', sans-serif;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  max-width: 400px;
  color: #fff;
}

.about__triangle {
  height: 20px;
  width: 20px;
}

.about__text-card-3 {
  color: #fff;
  font-family: 'Clash Grotesk', sans-serif;
}

.comet {
  position: absolute;
}
