.aboutUs {
    width: 100%;
    height: auto;
}

.aboutUs__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}

.aboutUs__item-text {

}

.aboutUs__number-title {
    font-size: 16rem;
    margin-right: 45px;
    color: #02020b;

    background: linear-gradient(94deg, #20C7ED 0%, #D251FD 99.79%);

    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
}

.text1 {
    color: #FFF;
    font-family: 'ClashGrotesk-Medium';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.text2 {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'ClashGrotesk-Medium';
    margin-top: 10px;
    margin-bottom: 10px;
}

.text3 {
    color: #8C8B92;
    font-family: 'ClashGrotesk-Bold';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: 350px;
    font-family: 'ClashGrotesk-Medium';
}

