.main {
  width: 100%;
  max-height: 1000px;
  overflow: hidden;
}

#lottie-animation {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main__animation-item {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main__animation-title {
  font-size: 8vw;
  color: #02020b;
  background: linear-gradient(90deg, #30BBEE 20%, #C659FC 70%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
}

.main__animation-subtitle {
  font-size: 1.5vw;
  font-weight: 400;
  font-family: 'ClashGrotesk-Medium';
  background: linear-gradient(90deg, #30BBEE 20%, #C659FC 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 5px) brightness(110%);
}

.main__glare-purple {
  position: absolute;
  width: 315px;
  height: 315px;
  right: -225.79px;
  top: 300px;
  filter: blur(200px);
  background: rgb(195, 92, 252);
}

.main__glare-blue {
  position: absolute;
  width: 315px;
  height: 315px;
  left: -315px;
  top: 400px;
  filter: blur(200px);
  background: rgb(20, 209, 232);
}