.main {
    width: 100%;
    height: 100vh;
    padding-top: 200px;
    overflow: hidden;
}


#lottie-animation {
    position: absolute;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.planet1 {
    position: absolute;
    scale: .7;
    z-index: -1;
    opacity: .5
}

.planet2 {
    position: absolute;
    scale: .9;
    z-index: -2;
    opacity: .5
}

.planet3 {
    position: relative;
    z-index: -3;
    scale: 1.1;
    opacity: .5
}

.main__text {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__title {
    font-size: 150px;
    color: #02020b;
    text-transform: capitalize;

    background: linear-gradient(94deg, #20C7ED 0%, #D251FD 99.79%);
    background-size: 200% 200%;

    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.main__title {
    width: 940px;
}