.acquaintance {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 150px 20px;
  gap: 10px;
  overflow: hidden;
  .content {
    width: 100%;
    position: relative;
    z-index: 998;
    h2 {
      font-size: 32px;
      font-weight: 600;
      background: linear-gradient(134.13deg, rgb(32, 199, 237), rgb(210, 81, 253));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      font-size: 20px;
      font-family: 'Clash Grotesk', sans-serif;
      font-weight: 500;
      margin-top: 20px;
      color: #8c8b92;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 180px;
      margin-top: 80px;
      .card {
        position: relative;
        max-width: 370px;
        height: 575px;
        background-color: #12111c;
        border-radius: 25px;
        transition: scale 0.2s ease-in-out;
        &:hover {
          scale: 1.015;
        }
        &:nth-child(1) {
          .icon-planet {
            position: absolute;
            right: 60%;
            top: -50px;
            transition: all 0.3s ease-in-out;
            width: 150px;
            height: 150px;
            filter: drop-shadow(0 0 20px #14cfe87a);
          }
          &:hover .icon-planet {
            filter: drop-shadow(0 0 50px #14cfe8b5);
          }
          .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 100%;
            width: 100%;
            padding: 30px;
            border-radius: 25px;
            position: relative;
            overflow: hidden;
            p:first-of-type {
              font-size: 48px;
              font-weight: 600;
              text-transform: capitalize;
              z-index: 2;
              color: #29c1ee;
            }
            p:last-of-type {
              color: #ffffff;
              font-family: 'Clash Grotesk', sans-serif;
              font-size: 22px;
              font-weight: 500;
              text-transform: capitalize;
              z-index: 2;
            }
            .astronaut {
              position: absolute;
              top: 30px;
              width: 470px;
              z-index: 1;
            }
          }
        }
        &:nth-child(2) {
          .icon-rocket {
            position: absolute;
            right: 0;
            top: -80px;
            transition: all 0.3s ease-in-out;
            width: 150px;
            height: 150px;
            filter: drop-shadow(0 0 20px #798cf56f);
          }
          &:hover .icon-rocket {
            filter: drop-shadow(0 0 50px #798cf5);
          }
          .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 100%;
            width: 100%;
            padding: 30px;
            border-radius: 25px;
            position: relative;
            overflow: hidden;
            p:first-of-type {
              font-size: 48px;
              font-weight: 600;
              text-transform: capitalize;
              z-index: 2;
              color: #798cf5;
            }
            p:last-of-type {
              color: #ffffff;
              font-family: 'Clash Grotesk', sans-serif;
              font-size: 22px;
              font-weight: 500;
              text-transform: capitalize;
              z-index: 2;
            }
            .amico {
              position: absolute;
              bottom: -10px;
              right: -80px;
              width: 450px;
              z-index: 1;
            }
          }
        }
        &:nth-child(3) {
          .icon-chapterFlag {
            position: absolute;
            right: 0;
            top: -130px;
            transition: all 0.3s ease-in-out;
            width: 180px;
            height: 130px;
            filter: drop-shadow(0 0 20px #bd60fb8d);
          }
          &:hover .icon-chapterFlag {
            filter: drop-shadow(0 0 50px #bd60fb);
          }
          .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 100%;
            width: 100%;
            padding: 30px;
            border-radius: 25px;
            position: relative;
            overflow: hidden;
            p:first-of-type {
              font-size: 48px;
              font-weight: 600;
              text-transform: capitalize;
              z-index: 2;
              color: #bd60fb;
            }
            p:last-of-type {
              color: #ffffff;
              font-family: 'Clash Grotesk', sans-serif;
              font-size: 22px;
              font-weight: 500;
              text-transform: capitalize;
              z-index: 2;
            }
            .virtual {
              position: absolute;
              bottom: -30px;
              right: -80px;
              width: 550px;
              z-index: 1;
            }
          }
        }
      }
    }
  }
  .stars-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .acquaintance {
    padding: 150px 25px;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 52px;
      }
      p {
        font-size: 24px;
      }
      .cards {
        margin-top: 150px;
        gap: 90px;
        .card {
          &:nth-child(1) {
            .icon-planet {
              right: 70%;
              top: -100px;
              width: 200px;
              height: 200px;
            }
          }
          &:nth-child(2) {
            .icon-rocket {
              right: -80px;
              top: -90px;
              width: 180px;
              height: 180px;
            }
          }
        }
      }
    }
  }
}
