.card {
    width: 860px;
}

.card__content {
    border-radius: 25px;
    border: 2px solid #20C7ED;
    padding: 40px;
}

.card__content p {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 17px;
}

.planet__container {
    display: flex;
    justify-content: center;
}

.socialMedia__container {
    display: flex;
    justify-content: flex-end;
    margin-top: 27px;
    gap: 20px;
}

.card__text {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}

.info__name {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
}

.info__position {
    background: linear-gradient(90deg, #20C7ED 0%, #D251FD 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: 500;
}

.text__description {
    width: 45%;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
}