.wrapper {
  width: 100%;
  padding: 10px;
  margin-top: 250px;
  .title {
    background: linear-gradient(90deg, #20c7ed 0%, #d251fd 100%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 28px;
    text-transform: capitalize;
  }
  .progress {
    background-color: #12111c;
    border-radius: 25px;
    height: 5px;
    width: 100%;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    display: flex;
  }

  .progress-value {
    animation: load 3s normal forwards;
    border-radius: 100px;
    background: linear-gradient(94deg, #20c7ed 0%, #d251fd 99.79%);
    height: 10px;
    width: 0;
  }

  .card__container {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
.card__container-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  /* for smooth scrolling on mobile devices */
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    padding: 0px 10%;
    .title {
      font-size: 48px;
    }
    .card__container {
      opacity: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 50px;
    }
  }
}
