.mint {
    width: 100vw;
    min-height: 76vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  
    &__main {
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .mint .mint__wrapper {
        display: flex;
        flex-direction: row;
      }
  
      & * {
        z-index: 2;
      }
      &__wrapper {
        display: flex;
      }
    }
    
    .row {
      display: flex;
      align-items: center;
    }
  
    .minted {
      &__live {
        &__inner {
          width: 20px; 
          height: 20px;
          background: rgba(20, 209, 232, 1);
          border-radius: 10px;
        }
  
        width: 40px;
        height: 40px;
        padding: 10px;
        border: 1px solid rgba(20, 209, 232, 1);  
        border-radius: 20px;
      }
  
      &__num {
        margin: 0 2vw;
        font-family: 'Clash Grotesk';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #14D1E8;
      }
  
    }
  
    &__text {
      font-family: 'Clash Grotesk';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #8F92D4;
    }
  
    &__title {
      padding: 3vh 0;
      font-family: 'Clash Grotesk' sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 75px;
      line-height: 110%;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 1);
  
      &__color {
        background: linear-gradient(94.36deg, #20C7ED 0%, #D251FD 79.2%),
                  linear-gradient(0deg, #A1A1A1, #A1A1A1),
                  linear-gradient(0deg, #FFFFFF, #FFFFFF);
        -webkit-background-clip: text;
        -webkit-text-stroke: 6px transparent;
        color: transparent;
      }
    }
  
    &__main {
  
      &_button {
        padding: 5vh 0;
  
        &__mintNow {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-right: 5vw;  
          padding: 20px 50px;
          z-index: 5;
          gap: 10px;
          background: linear-gradient(93.97deg, #20C7ED 0%, #D251FD 99.79%), #A1A1A1;
          border-radius: 10px;  
          font-family: 'Clash Grotesk Variable';
          font-weight: 600;
          font-size: 24px;
          line-height: 26px;
          color: #FFFFFF;
        }
      }
  
      &_remaining {
        display: flex;
        flex-direction: column;
        padding: 1vh 2vh;
        position: relative;
  
        &::before,
        &::after {
          content: "";
          position: absolute;
          border-style: solid;  
          border-width: 1px;
          border-color: #C35CFC;
        }
  
        &::before {
          top: 0;
          right: 0; 
          height: calc(25% + 1px);
          width: calc(10% + 1px);
          border-left-width: 0;
          border-bottom-width: 0;
        }
  
        &::after {
          bottom: 0;
          left: 0;
          height: calc(25% + 1px);
          width: calc(10% + 1px);
          border-top-width: 0;
          border-right-width: 0;
        }
  
        h3 {
          margin-bottom: 1vh;
          font-family: 'Clash Grotesk';
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 100%;
          letter-spacing: 0.03em;
          text-transform: capitalize;
          color: #FFFFFF;
        }
  
        p {
         font-family: 'Clash Grotesk';
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0.03em;
          text-transform: capitalize;
          color: #8C8B92;
        }
      }
  
      &_mainimg {
        width: auto;
        height: 60vh;
        object-fit: contain;
      }
    }
  
    &__planetImg {
      position: absolute;
      left: 0;
      bottom: -25%;
    }
  
    &__main {
  
      &__timer {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5%;
        right: 38%;
        padding: 2vh 1.5vw;
        background: linear-gradient(180deg, rgba(195, 92, 252, 0) 0%, rgba(195, 92, 252, 0.4) 100%), rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.2);  
        backdrop-filter: blur(4px);
        border-radius: 10px;
      }
    }
  
    .hours, .minutes, .seconds {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .digit {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      color: #FFFF
    }
  
    .timer__text {
      margin-top: .5vh;
      font-family: 'Clash Grotesk';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #8C8B92;
    }
  
    .divider {
      margin: 0 .5vw;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 61px;
      text-align: center;
      color: #8C8B92;
    }
    
    .stars-container {
      position: absolute;
      width: 100vh;
      height: 100vh;
    }
    
    .star {
      width: 1.5vh;
      height: 1.5vh;
      overflow-x: hidden;
    }
  }

  @media only screen and (min-width: 375px) {
    .mint__planetImg {
        display: none;
    }
}

@media only screen and (min-width:1024px) {
    .mint__main {
        padding-top: 10%;
    }

    .mint__wrapper {
        flex-direction: row;
    }
}

@media only screen and (max-width: 375px) {
  .mint .mint__wrapper {
    display: flex;
      padding: 0 5vw;
      padding: 40vh 0;
      flex-direction: column;
  }

  .mint .mint__wrapper .mint__main {
    width: 100%;
  }

  .mint__text {
      width: 100%;
  }

  .mint__main_mainimg {
      width: 100%;
      height: auto;
  }

  .mint .mint__main .mint__title {
      width: 100% !important;
      min-width: 100% !important;
      margin-bottom: 30vh;
  }

  .mint__planetImg {
      display: none;
  }
}