html {
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: 'ClashGrotesk-Semibold';

    width: 1920px;
    height: 11256px;
    background: linear-gradient(180deg, #02020B 0%, #02020B 12.92%, #000 22.41%, #02020B 30.03%, #000 39.89%, #02020B 51.13%, #000 59.65%, #000 81.31%, #02020B 83.22%, #000 90.47%, #02020B 100%);
}